<section class="block container">
    <header class="block__header">

    
    <h2 class="block--heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde in rem fugiat quidem </p>
  </header>
    <div style="width: 30%; padding: 4rem;">
      <div class="card card--secondary">
        <header class="card__header">Card tittle</header>
        <div class="card__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium </div>
      </div>
    </div>
  </section>
  <section class="block block--skewed--left block--dark">

    <div class="container">
    <h2 class="block--heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde in rem fugiat quidem </p>
  </div>
  </section>