<section class="block">
    <header class="block__header">
    <h2>What out Customers are Saying</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, alias.</p>
  </header>
  <div class="container">
    <div class="card testimonials">
      <div class="grid grid--1x2">
          <div class="testimonials--image">
          <img src="images/testimonial.jpg" alt="image of the person">
          <span class="icon-container icon-container--accent">
          <svg class="icon icon--white">
              <use xlink:href="images/sprite.svg#easy"></use>
            </svg>
          </span>
      </div>
      <bockquote class="quote">
          <p>"Lorem, ipsum dolor sit amet consectetur adipisicing elit.
               Magni fugiat nostrum quam at cum, 
               fuga quis debitis dolores nam magnam minus accusamus earum rerum pariatur tempore in eaque optio?
                Sapiente."</p>
      </bockquote>
      <footer>
          <div class="media">
              <div class="media__image">
                  <svg class="icon icon--primary quote__line">
                      <use xlink:href="images/sprite.svg#line"></use>
                    </svg>
              </div>
              <div class="media__body">
                  <h3 class="media__tittle quote__author">John Smith</h3>
                  <p class="quote__organization">abc company</p>
              </div>
      </footer>        </div>
  </div>
  </div>
   </section>